.container {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-bottom:20px;
    margin-right:20px;
    margin-left:20px;
}

section#chat-container {
    height:80%;
    display:block;
}

section#chat-input {
    height:auto;
    display:block;
}

section#chat-input textarea {
    width:100%;
}