extends layout

block content
	section#chat-container
		p &nbsp;
	section#chat-input
		textarea(type="text", placeholder="Enter a message....", rows="2")

	.modal#room-create.hide.fade
		.modal-header
			button.close(type='button', data-dismiss='modal') ×
			h3#room-create-header Create New Room
		.modal-body
			input.new-room(type='text')
		.modal-footer


	script(src="/socket.io/socket.io.js")
	script(src="/js/scripts.js")